$mainTitleFontSize: 74px;
$subtitleFontSize: 22px;



.typo-main-title {

  font-size: 3rem;
  font-family: 'Robot Condensed', sans-serif;


  @include from($desktop) {

    font-size: 3rem;

  }

  line-height: 1.1;
}

.typo-subtitle {

  font-size: $subtitleFontSize;

}

.typo-hero-box-subtitle {

  font-size: 1.75rem;

  @include until($tablet) {

  }

 @include from($tablet) {

}

  @include from($desktop) {

  }

  @include from($widescreen) {

  }

  @include from($fullhd) {

  }

}

.typo-section-title {

  font-size: 3rem;
  letter-spacing: 0.1em;
  line-height: 1.1;
  text-transform: uppercase;



  &.is-section-title {
    text-align: center;

    margin-bottom: 3rem;

    @include from($desktop) {

      margin-bottom: 5rem;

    }
  }

  &.has-spacing-top {

    text-align: center;

    margin-top: 3rem;

    @include from($desktop) {

      margin-top: 5rem;

    }
  }


  @include until($tablet) {

  }

 @include from($tablet) {

}


  @include from($widescreen) {

  }

  @include from($fullhd) {

  }

}

.typo-section-title + .typo-subtitle {}

.typo-subtitle {

  font-size: 1.375rem;
  line-height: 1.4;

  &.is-section-title {
    text-align: center;

    @include from($desktop) {
      max-width: 675px;
      margin-left: auto;
      margin-right: auto;

    }
  }


  @include until($tablet) {

  }

  @include from($tablet) {

  }



  @include from($widescreen) {

  }

  @include from($fullhd) {

  }

}

.typo-text {
  font-size: 1.375rem;
}




